@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('./assets/fonts/static/PlusJakartaSans-Bold.ttf');
    font-weight: 700;
}